{% macro activate_modal(container, trigger) %}
<script>
  $('{{ container }}').find('{{ trigger }}').on('click', function() {
    $('.modal.'+$(this).attr('id')).toggleClass('is-active')
  })
  $('{{ container }}').find("*[aria-label='close']").on('click', function() {
    $('.modal').removeClass('is-active')
  })
</script>
{% endmacro %}

{% macro handle_delete(container, entity, url) %}
<script>
  const $container = $('{{ container }}')
  $container.on('click', 'button.is-danger', {container:'{{ entity }}'}, deleteElement)
  function deleteElement(e) {
    const id = $(this).parents(e.data.container).data('id')
    const url = window.location.href.split(/[?#]/)[0] + '{{ url }}' + id
    console.log(url)
    $.ajax({
      type: 'delete',
      url: url,
      data: {csrf_token: "{{ csrf_token() }}"}
    })
      .done((res) => window.location.replace(res))
      .fail((res) => console.log('error'))
  }
</script>
{% endmacro %}

{% macro handle_close(container, element, trigger) %}
<script>
  const $con = $('{{ container }}')
  $con.on('click', '{{ trigger }}', function() {
    $(this).parents('{{ element }}').remove()
  })
</script>
{% endmacro %}

{% macro activate_dropdown(container) %}
<script>
  var $dropdown = $('{{ container }}').find('.dropdown')
  var $trigger = $dropdown.find('.dropdown-trigger')
  var $menu = $dropdown.find('.dropdown-menu')
  $(document).on('click', () => {
    $dropdown.removeClass('is-active')
  })
  $dropdown.on('click', $trigger, (e) => {
    e.stopPropagation()
    $dropdown.toggleClass('is-active')
  })
</script>
{% endmacro %}