<nav class="navbar is-spaced has-shadow is-transparent">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item has-text-weight-semibold" href="{{ url_for('main.index') }}">{{ config.APP_NAME }}</a>
      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
        <a class="navbar-item" href="{{ url_for('main.index') }}">Item 1</a>
      </div>
      <div class="navbar-end">
      {% if current_user.is_authenticated %}
        <a class="navbar-item" href="{{ url_for('account.manage') }}">Account</a>
        <hr class="navbar-divider">
        <a class="navbar-item" href="{{ url_for('account.logout') }}">Log out</a>
      {% endif %}
      </div>
    </div>
  </div>
</nav>
